{% extends 'base.html' %}
{% load static %}
{% load main_get_filter %}


{% block title %}
    Запись к врачу
{% endblock %}



{% block content %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <div class="coupon-form">
        <form action="" method="post" class="">
            <h2 class="title">{{ title }}</h2>
            {% csrf_token %}
            
            {{ coupon_form.adm_date }}
            {% if coupon_form.adm_date.errors %}
              <div class="errors">
                {{ coupon_form.adm_date.errors }}
              </div>
            {% endif %}

            <select class="form_input" >
              <option value="">
                Недоступные часы запси
              </option>
              {% for date in dates %}
              <option value="" disabled>
                {{ date.adm_date }}
              </option>
              {% endfor %}
            </select>

            {% if request.user.is_staff or request.user|is_empl %}
              {{ coupon_form.patient }}
            {% endif %}

            <button type="submit" class="btn form-btn">Записаться</button>
            
        </form>

        <script>
          $(function () {
            $("#id_adm_date").datetimepicker({
              format: 'd/m/Y H:i',
            });
          });
        </script>
    </div>
{% endblock %}