{% load static %}
{% load main_get_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="nav-menu">
                    <ul>
                        {% if request.path != '/' %}
                            <li><a href="{% url 'index_url' %}" class="btn">На главное меню</a></li>
                        {% endif %}
                        
                        {% if request.path != '/registration/' and request.user|is_empl %}
                                <li><a href="{% url 'reg_url' %}" class="btn">Добавить пациента</a></li>
                        {% endif %}

                        {% if request.user.is_staff %}
                            {% if request.path != '/registration/' %}
                                <li><a href="{% url 'reg_url' %}" class="btn">Добавить пациента</a></li>
                            {% endif %}
                            {% if request.path != '/registration_empl/' %}
                                <li><a href="{% url 'reg_empl_url' %}" class="btn">Добавить сотрудника</a></li>
                            {% endif %}
                            {% if request.path != '/registration_doctor/' %}
                                <li><a href="{% url 'reg_doctor_url' %}" class="btn">Добавить врача</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                <div class="profile-block">
                    {% if request.user.is_authenticated %}

                        <p class="profile-link" style="color:rgb(187, 0, 72);">
                            <span class="material-icons material-icons-outlined" style="font-size: 30px;">
                                account_circle
                            </span>
                            <span>
                                {% if request.user.is_staff %}
                                    {{ request.user.username }}
                                {% else %}
                                    {{ request.user.first_name }}
                                {% endif %}
                            </span>
                            <a class="profile-link" style="margin-left: 20px;" href="{% url 'logout_url' %}">
                                <span class="material-icons material-icons-outlined">
                                    logout
                                </span>
                            </a>
                        </p>
                    {% else %}
                        <a class="profile-link" href="{% url 'login_url' %}">
                            <span class="material-icons material-icons-outlined" style="font-size: 30px;">
                                account_circle
                            </span>
                            <span>
                                Войти
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
    </div>
</body>
</html>