{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}



{% block content %}

    <div class="login-form">
        <form action="" method="post">
            <h2 class="title">Вход</h2>

            {% csrf_token %}
            {{ form.login }}
            {{ form.password }}

            <button type="submit" class="btn form-btn">Войти</button>
            <a href="{% url 'reg_url' %}" class="reg-link">Зарегистрироваться</a>
        </form>
    </div>
{% endblock %}