{% extends 'base.html' %}
{% load static %}
{% load main_get_filter %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="menu-block">
        <nav>
            <ul>
                <li><a href="{% url 'doctor_choice_url' %}" class="btn">
                    {% if request.user.is_staff or request.user|is_empl %}
                        Записать к врачу
                    {% else %}
                        Записаться к врачу
                    {% endif %}

                </a></li>
                <li><a href="{% url 'coupon_url' %}" class="btn">Посмотреть записи к врачу</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}